img {
  border-radius: 10%;
  max-height: 60vh;
  min-height: 60vh;
  margin-bottom: 40px;
  height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardContent {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.cardBlock {
  display: flex;
  padding: 80px;
  align-items: center;
}

.header {
  font-size: 70px;
}

.body {
  font-size: 20px;
}
