.cardContent {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.cardWriting {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.cardBlock {
  display: flex;
  margin: 40px;
}
