.layout-wrapper {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

.layout-wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.layout-navBar {
  background-color: red;
}

.layout-sideBar {
  max-width: 100px;
  display: flex;
}

.layout-mainContent {
  background-color: green;
}

.layout-footer {
  background-color: yellow;
}

.layout-aside {
  flex: 1 0 0;
  min-height: 500px;
}
